@media (max-width:425px){

    /* Barra de navegacion */

    header{
        height: 25rem;
    }

    .header{
        padding: .625rem 3%;
    }

    .header .logo img{
        height: 2.5rem;
    }

    .header .nav-links{
        font-size: .9375rem;
    }

    .header .nav-links li{
        padding: 0rem .5rem;
        font-size: .75rem;
    }

    .header .btn button{
        font-size: .75rem;
    }

    /* fondo pagina inicio */

    header .main-title{
        font-size: 1.25rem;
        padding: 6%;
        line-height: 1.25rem;
        margin-top: 2.5rem;
    }
    header .main-title h1{
        font-size: 1.875rem;
    }

    header .btn-1 button{
        font-size: .75rem;
        margin-top: 1.25rem;
    }

    /* titulos de pagina */

    .main-title-2 h1{
        font-size: 3.125rem;
        line-height: 3.125rem;
        margin-top: 4.375rem;
    }

    .main-title-2 p{
        font-size: 1rem;
        margin-bottom: .3125rem;
    }

    /* Seccion nuestro enfoque */

    .encabezado h2{
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
    .encabezado p{
        font-size: .75rem;
        text-align: center;
        width: 12.5rem;
    }

    .container-1{
        padding: 3.125rem;
    }

    .enfoques .card-1 p{
        font-size: .75rem;
    }
    
    /* Seccion entrenamiento personalizado */

    .levels .card-2 img{
        width: 12.5rem;
    }

    .levels{
        gap: 3.75rem;
    }

    .levels .card-2 h3{
        font-size: 1.875rem;
        padding: .625rem;
    }
    
    .levels .card-2 p{
        text-align: center;
        width: 12.5rem;
        font-size: .75rem;
    }
    
    /* seccion nuestra comunidad */

    .comunidad{
        grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
    }

    .comunidad .card-3{
        width: 12.5rem;
        display: flex;
        flex-direction: column;
        text-align: center;
    } 
    .comunidad .card-3 h3{
        text-align: center;
    }

    .comunidad .card-3 p{
        font-size: .75rem;
    }

    /* seccion nuestro equipo */

    .container-4{
        padding: .625rem;
    }

    .container-4 .equipo{
        grid-template-areas:
        "x-1"
        "x-2"
        "x-3"
        "x-4"
        "x-5"
        "x-6"
        ;
        margin-top: 1.875rem;
        justify-items: center;
        grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
    }

    .container-4 .equipo .card-4{
        display: flex;
        flex-direction: column;
        width: 12.5rem;
    }

    .container-4 .equipo .card-4 h3{
        font-size: 1.25rem;
    }

    .container-4 .equipo .card-4 p{
        font-size: .75rem;
    }

    /* seccion nuestros programas */

    .container-5 .programas{
        flex-wrap: wrap;
    }

    .container-5 .programas .card-5 h3{
        line-height: 1.875rem;
        font-size: 1.875rem;
    }

    .container-5 .programas .card-5 p{
        font-size: 12px;
    }    

    /* tu entrenador personal a un clic */

    .container-6 .encabezado-2 h2{
        font-size: 2.5rem ;
        line-height: 2.5rem;
    }

    .container-6 .encabezado-2 p{
        font-size: .75rem;
    }

    /* seccion contactanos */

    .contactanos form{
        width: 15.625rem;
        }
    }
